<h4 class="text-center my-3" style="letter-spacing: 2px">
  Has A.I. Taken Over the World?
</h4>

<div class="text-center digital">
  <ng-container *ngIf="!res">
    <ngx-typed-js [strings]="['Analyzing...']" [showCursor]="false" [loop]="true">
      <h1 class="typing d-inline-block mb-5"></h1>
    </ngx-typed-js>
  </ng-container>

  <ng-container *ngIf="res">
    <ngx-typed-js [strings]="['Nope!']" [showCursor]="false">
      <h1 class="typing d-inline-block mb-5"></h1>
    </ngx-typed-js>
  </ng-container>
</div>


<ngx-typed-js *ngIf="res?.openAiResponse?.reasoning as reasoning"
              [typeSpeed]="20"
              [startDelay]="1000"
              [strings]="[reasoning]" (completed)="onFinish()">
  <span class="typing"></span>
</ngx-typed-js>

<div class="alert alert-warning mt-5" role="alert" *ngIf="finished" >
  <h4 class="alert-heading">Disclaimer</h4>
  <p>This analysis was done using AI, so it can't be fully trusted. Review the input data it used, or run the analysis again</p>
  <hr>
  <div class="text-end">
    <button class="btn btn-outline-primary me-2" (click)="showInput = !showInput">{{ showInput ? 'Hide' : 'Review' }} input data</button>
    <button class="btn btn-outline-danger" (click)="refresh()">Ru-run analysis</button>
  </div>
</div>

<div class="text-center">
</div>

<ul *ngIf="showInput">
  <li *ngFor="let article of res?.articles">
    {{ article.title }} <a [href]="article.link">🔗</a>
  </li>
</ul>


<!--<ngx-typed-js *ngIf="articles"-->
<!--              [strings]="articles"-->
<!--              [typeSpeed]="0"-->

<!--              [loop]="true">-->
<!--  <span class="typing"></span>-->
<!--</ngx-typed-js>-->

